# ==========================================
# DATABASE CONFIGURATION (Sử dụng service db)
# ==========================================
DB_URL=jdbc:postgresql://db:5432/preschool_db1
DB_USERNAME=postgres
DB_PASSWORD=123456

# ==========================================
# APPLICATION & SECURITY CONFIGURATION
# ==========================================
PORT=8080
# Thay '*' bằng domain của Web/App khi lên production (VD: https://my-preschool.com)
CORS_ALLOWED_ORIGIN_PATTERNS=*
# ĐỔI KEY NÀY TRƯỚC KHI LÊN PRODUCTION (Dùng key base64 256-bit)
JWT_SECRET=N3Y5eSRCJkUpSEBNY1FmVGpXblpyNHU3eCFBJUQqRy0=

# ==========================================
# 3RD PARTY SERVICES CONFIGURATION
# ==========================================
# Cloudinary (Quản lý hình ảnh)
CLOUDINARY_CLOUD_NAME=dsejk4thz
CLOUDINARY_API_KEY=913767525175272
CLOUDINARY_API_SECRET=ijpagjsRRXOzHkwewdGS1C1Cmq4

# Telegram Bot (Nhận thông báo sự cố)
TELEGRAM_BOT_TOKEN=8769290586:AAEBc8M5NPsQiLgO7jL3IDowE3VfV0QNZuk
TELEGRAM_CHAT_ID=-5159156252

# Gmail SMTP (Gửi mail tự động)
SPRING_MAIL_USERNAME=levu2310ts4@gmail.com
# Sử dụng App Password (Mật khẩu ứng dụng) của Gmail, không dùng mật khẩu chính
SPRING_MAIL_PASSWORD=noms chbs bltp npcq
